---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'svelte', 'vue', 'web-components'];
const description = `
  <p class="text-left">
    Photo selected by Jessica Canepa
	 from <a
      class=" text-pgreen font-bold"
      href="https://unsplash.com/photos/white-and-gray-floral-textile-XFWiZTa2Ub0"
      >Unsplash</a
    >
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('Mar 7 2025')}
	heroImage="/src/assets/fran.jpg"
>
	<p>
		I'm a translator at heart who loves to play with words and code.
	</p>

	<p>
		I was working at a public library when I read "Program or be programmed" and started my journey learning to code through open source communities at local meetups. 
	</p>

	<p>
		Since then, I've found myself at the intersections of words and code and helping people. In my current role as a Lead technical writer at Netlify, I help manage our documentation site and other content to help developers and their many release partners.
	</p>

	<p>
		Before I got into tech I worked at a local public library, international exchange non-profits, taught English as a Foreign Language, and studied Russian Art History in Southern Russia—home of <a
      class=" text-pgreen font-bold"
      href="https://en.wikipedia.org/wiki/Mamayev_Kurgan"
      >Mamayev Kurgan</a>
	</p>

	<p>
		I love maps, lego, geeking out about translation, reading about linguistics, bird watching, studying poetry in the original language, and the sounds of making matcha.
</Layout>
